body{
    margin: 0;
}
.container{
    width: 85%;
    margin: auto;
    position: relative;
    padding: 65px;
}
header img{
    width: 95px;
    margin-left: 15px;
}

header{
    /* */
    border-radius: 15px;
}
@media (max-width: 767px) {
    .container {
      width: 100%;
      padding: 0;
    }
    header{
        /* */
  
        border-radius: 0;
        margin: 0;
    }
    
  }
  @media (max-width: 1180px) {
    .container {
      width: 100%;
      padding: 0;
    }
    header{
        /* */
  
        border-radius: 15px;
        margin: 0;
    }
  }
.box{
  width: 85%;
  display: flex;
  margin: auto;
  justify-content: space-evenly;
  padding: 45px;
  flex-wrap: wrap;
  align-items: center;
}

.box img{
  width: 450px;
  border-radius: 14px;
  
}

.box h3{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.logo-title{
  width: 35%;
  text-align: center;
}
@media(max-width: 767px) {
  .logo-title{
    width: 95%;
    text-align: start;
  }
  .box img{
    width: 380px;
    border-radius: 4px;
    
  }
}
